@font-face {
    font-family: 'Rise-of-Kingdom';
    src: url('../fonts/RiseofKingdom.eot');
    src: url('../fonts/RiseofKingdom.eot?#iefix') format('embedded-opentype'),
        url('../fonts/RiseofKingdom.woff2') format('woff2'),
        url('../fonts/RiseofKingdom.woff') format('woff'),
        url('../fonts/RiseofKingdom.ttf') format('truetype'),
        url('../fonts/RiseofKingdom.svg#RiseofKingdom') format('svg');
    font-weight: normal;
    font-style: normal;
}
